@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

body,
header,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: not-allowed;
}

body {
  padding: .937rem;
}

h1 {
  font-family: 'Nunito Sans', 'Courier New', Courier, monospace;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 auto 10px;
}

.underline {
  text-decoration: underline;
}

.m-auto { margin: auto; }

img {
  max-width: 800px;
  width: 90%;
}

#logo {
  width: 99%;
  margin-top: 30px;
}